@keyframes fire {
    0% {
        /*red*/
        background-color: #FF0000;
    }
    25% {
        /*orange-ish*/
        background-color: #FF5500;
    }
    50% {
        /*yellow-ish*/
        background-color: #FFC400;
    }
    75% {
        /*bright-neony-yellow*/
        background-color: #EEFF00;
    }
}
.fire {
    color: white;
    animation-name: fire;
    /*fire background displayed colors*/
}
.snail {
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.slow {
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.medium {
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.fast {
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.speedy {
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

